* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e7d32;
    padding: 20px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #81c784;
    border-radius: 8px;
    margin-bottom: 20px;
}

.board-title {
    display: flex;
    align-items: center; 
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 0; 
}

.board-title h1 {
    margin: 0;
}

.users {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.extra-users {
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}

.kanban-board {
    display: flex;
    gap: 20px;
}

.column {
    background-color: #66bb6a;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    min-height: 300px;
    position: relative;
}

.column h2 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}

.status {
    width: 20px;
    height: 5px;
    border-radius: 3px;
}

.status.blue {
    background-color: #1e88e5;
}

.status.yellow {
    background-color: #fdd835;
}

.status.cyan {
    background-color: #00acc1;
}

.add-card-container {
    margin: 10px 0; 
    display: flex;
    flex-direction: column; 
}

.add-card-btn {
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.add-card-form {
    background-color: #91d991; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
}

.add-card-form input,
.add-card-form textarea {
    width: 100%;
    margin: 10px 0; 
    padding-bottom: 30px; 
    padding-left: 10px;
    padding-top: 10px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
}

.add-card-form button {
    background-color: #30AC6E; 
    color: black;
    border: none;
    border-radius: 10px; 
    padding: 10px;
    cursor: pointer;
    display: inline-block; 
}
.add-card-btn:hover {
    background-color: #2e7d32;
}

.add-list-container {
    margin: 10px 0; 
    display: flex;
    flex-direction: column; 
}

.add-list-form {
    background-color: #91d991; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
}

.add-list-form input,
.add-list-form textarea {
    width: 100%;
    margin: 10px 0; 
    padding-bottom: 30px; 
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
}

.add-list-form button {
    background-color: #30AC6E; 
    color: black;
    border: none;
    border-radius: 10px; 
    padding: 10px;
    cursor: pointer;
    display: inline-block; 
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.column-options {
    position: relative;
}

.options-icon {
    font-size: 20px;
    cursor: pointer;
    color: black; 
}

.options-menu {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #81c784;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

.options-menu button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
}

.options-menu button:hover {
    background-color: #e0e0e0;
}

.column-header:hover .options-menu {
    display: block; 
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-options {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    position: relative;
}

.edit-btn {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: black; 
}

.card-options-menu {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #81c784;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

.card-options-menu button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
}

.card-options-menu button:hover {
    background-color: #e0e0e0;
}

.card-options:hover .card-options-menu {
    display: block; 
}

.div-form-cadastrar {
	width: 25vw;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 12px;
}

.error-flash {
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-left: 8%;
	margin-right: 8%;
	color: darkred;
	border: 4px solid crimson;
	border-radius: 8px;
	min-height: 4vh;
	align-items: center;
}

.form-cadastrar {
	display: flex;
	flex-direction: column;
	padding: 8px;
	margin: 8px;
}

.label-cadastrar {
	margin-left: 5%;
	margin-right: 5%;
}

.input-cadastrar {
	background-color: #81c784;
	border-radius: 16px;
	min-height: 4vh;
	border-color: transparent;
	color: black;
	margin-top: 1%;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 4%;
}

.submit-cadastrar {
	min-height: 4vh;
	background-color: #2e7d32;
	border-radius: 16px;
	box-shadow: 0px;
	border: 0;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;
	color: white;
	font-weight: bold;
}

.a-cadastrar {
	text-decoration: none;
	color: #2e7d32;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.modal-content {
    background-color: #2e7d32; 
    margin: 15% auto;
    padding: 20px;
    border: 10px solid #91d991;
    width: 40%;
    border-radius: 8px; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.share-container{
    display: flex;
    align-items: left;
    gap: 5px; 
    background-color: transparent;
    padding: 10px;
}

.share-button {
    background-color: #91d991; 
    color: rgb(0, 0, 0); 
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 19px;
}

.share-button:hover {
    background-color: #2e7d32; 
}

.share-form {
    background-color: #163116;
    border-radius: 15px; 
    color: white;
    padding: 10px;
    border-color: transparent;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 15px;
    width: 400px;
}

.share-icon{
    width: 50px;
    height: 50px;
    margin-right: 0; 
    margin-left: -5px;
    background-color: #91d991;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column; 
}

.icon-container {
    display: flex;
}
