* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e7d32; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #81c784; 
    padding: 5px 20px; 
    border: none; 
    border-radius: 3px;
}

.board-title {
    display: flex;
    align-items: center; 
}

.board-title img.logo {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

.board-title h1 {
    font-size: 24px; 
    color: rgb(0, 0, 0); 
}

.user-avatar {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
}

h2 {
    color: #fff;             
    margin: 20px;              
    padding-bottom: 0px; 
    padding-top: 40px;  
    text-align: center;     
}

p {
    background-color: #e0f7fa; 
    margin: 50px auto; 
    border-radius: 10px;
    padding: 20px; 
    max-width: 400px; 
    width: 100%; 
    margin-top: 10px;
}


form {
    margin: 50px auto; 
    background-color: #81c784; 
    border-radius: 10px;
    padding: 20px; 
    max-width: 400px; 
    width: 100%; 
    margin-top: 10px;
}

form label {
    font-size: 16px;
    color: #000; 
}

form input {
    width: calc(100% - 20px); 
    margin: 10px 0; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
    background-color: #388e3c; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 100%; 
}

button:hover {
    background-color: #2e7d32; 
}
